body {
	/*background-image: url(../images/hangmanbig.jpg);*/
}



.playspace {
	background-color: white;
	border style: solid;
	border-color: red;
	border-width: 30px 30px 30px 50px;
	float:left;
	height: 400px;
	width: 450px;
	margin: 50px 0px 0px 70px;
	padding:20px 20px 20px 20px;

}

p {
	padding-top: 20px;
	text-align: center;
	border style: solid;
	border-color: blue;
	border-width: 30px 30px 30px 50px;
	font-size: 24px;
}